@model Nhacungcap

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">TÊN</label>
        <input asp-for="Name" type="text" class="form-control">

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImageURL" class="form-label">Ảnh</label>
        <input asp-for="ImageURL" type="text" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="ImageURL" class="text-danger"></span>
    </div>

    <button asp-controller="NhaCungCap" asp-action="Creates" type="submit" class="btn btn-primary">Submit</button>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}



